.message-box {
    width: 300px;
    height: 40px;
    border: 1px solid #000;
    margin: 4px;
    padding: 4px;
    display: flex;
}

.message-box p {
    flex: 1;
}

.message-box button {
    background: none;
    border: none;
}

.info {
    background-color: #88b5d7;
}

.warn {
    background-color: #bec144;
}

.error {
    background-color: #8d3a2f;
}