:root {
  color-scheme: dark;

  --light-background-color: #f7f9fc;
  --dark-background-color: #121212;
  --light-text-color: #212529;
  --dark-text-color: #ffffff;

  &:has([id="theme-toggle"]:checked) {
    color-scheme: light;
  }
}

body {
  background-color: light-dark(
    var(--light-background-color),
    var(--dark-background-color)
  );
  color: light-dark(var(--light-text-color), var(--dark-text-color));
}

label {
  cursor: pointer;
}
